@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
 
body{
    padding: 0%;
    margin: 0%;
    font-family: poppins, sans-serif;
    overflow-x: scroll;
    background-color: #111111;
    color: white;
    scroll-behavior: smooth;
    animation: myAnim 1s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		transform: scale(2);
	}

	100% {
		transform: scale(1);
	}
}
/*scroll bar*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #444; 
}
::-webkit-scrollbar-thumb {
    background: #555; 
}
::-webkit-scrollbar-thumb:hover {
    background: #0ef7b1; 
}
/*about us navigation logo*/
.about-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin: 0%;
}
.about-nav-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    margin: 0%;
    color: white;
    width: 100%;

}

.about-nav-content li{
    list-style-type: none;
}
.about-nav-content  a{
    float: left;
    display: block;
    position: absolute;
    left: .5rem;
    margin: 0px;
    background: rgb(10,163,158);
    background: linear-gradient(151deg, rgba(10,163,158,1) 0%, rgba(86,28,140,1) 100%);
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px 10px;  
    border-radius: 10px;
}
.about-nav-content h5{
    display: block;
    width: 200px;
    padding: 5px;
    margin: 0%;
}

/*who are we*/
.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('backplanet.png');
    background-repeat: no-repeat;
   background-position: left bottom;   
}
.infos{
    display: block;
    width: 600px;
    text-align: right;
}

#f-us{
    text-align: center;
}
.follow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
.follow img{
    height: 40px;
    padding: 10px;

}
.info-img{
    animation: planet 1s ease 0s 1 normal forwards;
}
@keyframes planet {
	0% {
		transform: rotate(0);
		transform-origin: bottom;
	}

	100% {
		transform: rotate(360deg);
		transform-origin: bottom;
	}
}

.follow img:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}

/*Teams*/
.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.team-content h2{
    margin: 0%;
    text-align: center;

}

/*team-link*/
.team-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:2rem ;
}
.team-link-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.t1{
    display: inline-block;
    padding: 1rem;
    border: 3px solid #555;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
    
}
.team-link img{
    height: 250px;
    width: 250px;
}
.team-link img:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}
.t1 a img{
    height: 30px;
    width: 30px;
}
#viru{
    height: 250px;
    width: 250px;
}