@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body{
    padding: 0%;
    margin: 0%;
    font-family: poppins, sans-serif;
    overflow-x: scroll;
    background-color:#f9f9f9;
    scroll-behavior: smooth;
    
}

/*scroll bar*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #444; 
}
::-webkit-scrollbar-thumb {
    background: #555; 
}
::-webkit-scrollbar-thumb:hover {
    background: #0ef7b1; 
}

/*contact us*/
.overcon{
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding-top: 2rem;
}
.overcon .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.contact-content {
    position: relative;
    text-align: center;
    border: 1px solid rgb(231, 231, 231);
    display: block;
    height: 700px;
    width: 800px;
    color: white;
  }
  .feed{
      border-top: 1px solid white;
      display: block;
      width: 600px;
      margin: 20px;
      position: relative;
      text-align: center;
      align-items: center;
      margin-left: 100px;
  }
  .feed table{
      display: inline-block;
      margin-left: 5%;
  }
  .feed img{
    display: inline-block;
    height: 35px;
    width: 35px;
  }
  .feed input{
      position: relative;
      bottom: 0.5rem;
      text-align: center;
      background-color: transparent;
      color: white;
      border: transparent;
      border-bottom: 1px solid #0ef7b1;
  }
  .feed textarea{
      background-color: transparent;
      border: transparent;
      color: white;
      border-bottom: 1px solid #0ef7b1;
      text-align: center;
      padding: 2px;
  }
  #sub{
    position: relative;
    top: 1rem;
    left: 38%;
    bottom: 2rem;
    border: 1px solid #0ef7b1;
    padding: 3px 10px;
  }
  #meage{
      position: relative;
      bottom: 3rem;

  }
  .overcon h1 {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    transition: 0.3s;
    text-align: center;
  }
  
  /*contact us end*/
  
/*contact us*/
.dp{
    height: 25px;
    width: 25px;
    cursor: pointer;
    
}
.dp:hover, .dp:focus {
    background-color: black;
    transition: 0.9s;
}
.dpdown{
    position: relative;
    float: right;
    padding: 1.5rem;
}
.dp-content {
    display: none;
    position: absolute;
    background-color: transparent;
    height: 10rem;
    width: 50px;
    transition: 0.9s;
    overflow: auto;
    z-index: 1;
  }
  .dp-content img{
        display: block;
        height: 30px;
        width: 30px;
        margin-top: 1rem;
  }
  .show {display: block;}

  /*contact us end*/
  /*navigation logo*/
.navi{
    padding: 2rem;
    margin: 0%;
    background-image: url("http://drive.google.com/uc?export=view&id=11ml56Kf6_QdFuF9iqQGKK20O2cchRxl8");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.navi h3,img{
    display:inline;
    color: white;
}
.navi h3{
    display: inline-block;
    font-weight: 300;
}

.headhome{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2rem;
    color: white;
}
.headhome h2{
    font-size: 4em;
    margin: 0%;
    padding: 0%;
}
.headhome h4{
    font-size: medium;
    font-weight: 300;
}
.headhome a{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 8px;
}
.headhome a:hover{
    border: 1px solid #0ef7b1;
    color: #0ef7b1;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
}

/*featured algorithm*/

.topcat{
    margin: 0%;
    padding:2rem ;
    background-color: #f9f9f9;
}

.list{
    display: inline-block;
    background-color: transparent;
    color: #444444;
}

.list h2{
    text-align: center;
    font-weight: 600;
}
.t1{
  margin:10px;
  padding: 1rem;
  border-radius: 8px;
  background: #f9f9f9;
  box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
  
  display: inline-block;
  height: auto;
 width: 25%;
  /*box-shadow: 1px 2px 12px 1px #777070;*/
}
.t1 p{
    font-size: 6px;
    color: #0ef7b1;
   
  }
.t1 h4{
   
    font-size:larger;
    font-weight: 400; 
    color: black;
}

.lang img{
    padding: -1%;
    height: 1.5rem;
}
.lang a{
    text-decoration: none;
    color: black;
    float: right;
    margin-right: 1rem;
    padding: 5px;
}
.lang a:hover{
    color: #0ef7b1;
    transform: scale(1.0);
    transition: 0.7s;
}
#al{
    color: #0ef7b1;
}

/*Algorithm*/
.visual{
    background-color: #131313;
    color: white;
    height: 500px;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contain{
    position: relative;
    height: 400px;   
    width: auto;
    text-align: right;
    margin:20px ;
}
.contain h2{
    text-align: right;
    position: relative;
   display: inline-block;
    font-size: 60px;
    font-weight: 500;
    border-bottom: 1px solid #0ef7b1;
}
.contain p{
    display: block;
    max-width: 600px;
    text-align: right;
    position: relative;    
}
.contain-img{
    padding: 0%;

}
.contain a{
    text-decoration: none;
    background-color: white;
    border:1px solid white;
    color: #090909;
    padding: 5px 10px;
    font-weight: 600;
}
.contain a:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: 0.3s;
}

/*CODE EDITOR*/
.code{
    background-color: #f9f9f9;
    color: black;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
.contain-code{
    position: relative;
    display: inline-block;
    height: 400px;
    width: 600px;
    text-align: left;
}
.contain-code h2{
    text-align: left;
    position: relative;
   display: inline-block;
    padding: 2px;
    font-size: 60px;
    font-weight: 500;
    border-bottom: 1px solid #0ef7b1;
}
.contain-code p{
    text-align: left;
    position: relative;
    font-weight: 400;    
}

.contain-code a{
    text-decoration: none;
    background-color: #171717;
    border:1px solid white;
    color: white;
    padding: 5px 10px;
    font-weight: 600;
}
.contain-code a:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: 0.3s;
}

/*top categories*/
.topcateg{
    background-color: #171717;
    color: white;
    align-items: center;
    height: 300px;

}
.cat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.topcateg h2{
    text-align: center;
    padding: 2rem;
    font-weight: 500;

}

.content{

    display: inline-block;
    background-color: transparent;
   margin: 10px;
}

.content img{
    display: inline-block;
    height: 35px;
    width: 35px;
    padding: 0px 5px;
    margin-right: 5px;
}

.content a{
    display: inline-block;
    font-size: 25px;
    background-color: #141414;
    font-weight: 300;
    color: #0ef7b1;
    padding: 10px 25px;
    text-decoration: none;
}
.content a:hover{
    text-decoration: 1px underline;
}

/*contribute*/
.contributes{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 800px;
}

.contribute-contain{
    padding: 1rem;
    display: block;
    width: 600px;
    height: 600px;
    background-color: #171717;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    /*background-image: url('/F:/FINAL CODE GET-ALGO/GA Home/images/');*/
}
.contribute-contain h2{
    font-weight: 500;
    font-size: x-large;
}
.contribute-contain a{
    text-decoration:none;
    color: #0ef7b1;
    background-color: transparent;
    border: 1px solid #0ef7b1;
    padding: 5px 13px;
    display: block;
    width: 100px;
}

.contribute-contain a:hover{
    text-decoration:1px underline;
}
#mic{
    position: relative;
    float: right;
    top: 1rem;
    height: 200px;
    width: 200px;
}
.contribute-rocket1{
    display: block;
    position: absolute;
    float: right;
    right: 0%;
}

/*about us*/

#contribute-cone{
    display: block;
    position: absolute;
    left: 2rem;
    height: 400px;
    width: 400px;
}
#contribute-circle{
    height: 400px;
    width: 400px;
    float: right;
    position:absolute;
    right: 0%;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    color: white;
    padding: 2rem;
}
.about p{
    text-align: center;
    font-size: small;
}

.aimg{
    display: block;
    height: 200px;
    width: 400px;
    font-size: small;
    text-align: center;
}
.aimg img{
    padding: 5px 10px;
}
.us{
    text-decoration: none;
    display: block;
    text-align: center;
}
.us a{
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    font-size: small;
}
.us a:hover{
    color: #0ef7b1;
    transition: 0.3s;
}


  /*@media screen and (max-height: 450px) {
    .overcon h1 {font-size: 20px}
    .overcon .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }*/
